from flask import Flask, render_template, request, redirect, url_for
import os
from src.data_cleaner import clean_data  # Import your cleaning function

app = Flask(__name__)

# Configure the upload and cleaned folders
app.config['UPLOAD_FOLDER'] = 'data/raw'
app.config['CLEANED_FOLDER'] = 'data/cleaned'

@app.route('/')
def upload_file():
    return render_template('upload.html')

@app.route('/upload', methods=['POST'])
def upload():
    # Check if the file part is present
    if 'file' not in request.files:
        return redirect(request.url)

    file = request.files['file']
    # Check if a file is selected
    if file.filename == '':
        return redirect(request.url)

    # Save the uploaded file
    file_path = os.path.join(app.config['UPLOAD_FOLDER'], file.filename)
    file.save(file_path)

    # Clean the data
    cleaned_file_path = os.path.join(app.config['CLEANED_FOLDER'], f'cleaned_{file.filename}')
    clean_data(file_path, cleaned_file_path)

    # Redirect to the result page with the cleaned file path
    return redirect(url_for('result', filename=cleaned_file_path))

@app.route('/result')
def result():
    filename = request.args.get('filename')
    return render_template('result.html', filename=filename)

if __name__ == '__main__':
    app.run(debug=True)
