/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    color: #4CAF50;
}

.container {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

/* File Upload Section */
.file-upload {
    margin: 20px 0;
}

input[type="file"] {
    display: none;
}

label[for="file"] {
    border: 2px solid #4CAF50;
    padding: 10px 20px;
    background: #4CAF50;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease-in-out;
}

label[for="file"]:hover {
    background: #45a049;
}

.upload-button {
    border: none;
    padding: 10px 20px;
    background: #4CAF50;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background 0.3s ease-in-out;
}

.upload-button:hover {
    background: #45a049;
}
.show-button {
    border: none;
    padding: 10px 20px;
    background: #4CAF50;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background 0.3s ease-in-out;
}

.show-button:hover {
    background: #45a049;
}
/* Result Page Styles */
.table-container {
    margin: 20px 0;
    overflow-x: auto;
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
}

.table-container th, .table-container td {
    padding: 12px;
    border: 1px solid #ddd;
}

.table-container th {
    background: #4CAF50;
    color: white;
}

.download-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 30px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s ease-in-out;
}

.download-button:hover {
    background: #45a049;
}
