<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Upload Data</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/scirpt.js') }}"></script>
</head>

<body>
    <div class="container">
        <h1>Upload Your Data File</h1>
        <p>Please select a CSV file to upload and clean the data.</p>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <div class="file-upload">
                <input type="file" name="file" id="file" required>
                <label for="file">Choose File</label>
            </div>
            <p><strong>Filename:</strong> {{ filename }}</p>
            <button type="submit" class="upload-button" name="action" value="upload">Upload</button>
        </form>



        <!-- <form action="/display" method="post" enctype="multipart/form-data">
            <p><strong>Filename:</strong> {{ filename }}</p>
            <button type="submit" class="show-button" name="action" value="show">Show</button>
             <div class="table-container">
                {% if table_html %}
                <h2>Uploaded Data Preview</h2>
                {{ table_html|safe }}
                {% endif %}
            </div> 
         </form> -->





    <!-- <form action='/numselect' method="POST" enctype="multipart/form-data">
            <div class="table-container">

                <table>
                    {% for column in numeric_columns %}
                    <tr>
                        <td><label>{{ column }}</label></td>
                        <td><input type="number" name="{{ column }}" placeholder="Enter value"></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <button type="submit" class="show-button">Submit</button>
        </form> -->



<!-- THIS WILL BE IN THE OTHER HTML FILE -->
<!-- 
    <form action="/clean" method="post" enctype="multipart/form-data">
        <p><strong>Filename:</strong> {{ filename }}</p>
        <button type="submit" class="show-button" name="action" value="show">result</button>
    </form> -->




    </div>
</body>

</html>